page-home {

    .bottom{
        position: absolute;
        bottom: 0;
        width: 90%;
    }

    .request-controls{
        text-align: center;
        background: linear-gradient(transparent,map-get($colors, light));

    }
}
